In [1]:
import pandas as pd
import numpy as np

import matplolib.pyplot as plt
import seaborn as sb

from sklearn.cluster import KMeans
from sklearn.metrics impor pairwise_distances_argmin_min

%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D

plt.rcParams

In [2]:
#Fuente kaggle
df = pd.read_csv('log.csv')

In [3]:
#Visualizacion de la data
df.head()

,Depth,RxoRt,RLL3,SP,RILD,MN,MI,MCAL,DCAL,RHOB,RHOC,DPOR,CNLS,GR
0,195.0,226.0848,0.4076,69.8953,132.5052,-0.3548,0.1863,5.1090,1.8878,1.6973,-0.6303,59.2216,30.0657,60.4576
1,195.5,223.5031,0.4063,69.2303,123.6225,-0.3619,0.1867,5.1031,1.8882,1.6791,-0.6409,60.2877,26.7625,54.1495
2,196.0,221.4560,0.4047,68.4478,116.9258,-0.3668,0.1860,5.0872,1.8878,1.6585,-0.6539,61.4914,27.6017,51.9944
3,196.5,219.8248,0.4033,67.4843,111.7925,-0.3613,0.1867,5.0881,1.8884,1.6435,-0.6649,62.3711,31.5870,52.9645
4,197.0,218.1438,0.4023,66.3013,106.7821,-0.3569,0.1870,5.0972,1.8883,1.6390,-0.6705,62.6343,35.8251,54.9659

In [4]:
#cantidad de datos
df.shape

(8739, 14)